# ROS 2 build artifacts
build/
install/
log/

# Python cache files
__pycache__/
*.pyc

# Colcon metadata
.colcon/

# Editors
*.swp
*.swo
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

src/DynamixelSDK
src/turtlebot3
src/turtlebot3_msgs
src/turtlebot3_simulations